.badge-small {
    display: block;
    height: 41px;
    width: 41px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../image/badge-small.png');
}

.badge-big {
    display: block;
    height: 76px;
    width: 76px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../image/badge-big.png');
}

.image { position: relative; }

.promotion {
    border: 3px solid #f00;
    padding: 10px;
    margin: 8px 0;
    margin-left: 10px;
    border-radius: 8px;
}

.product-info .description a.promotion-note {
    font-size: 14px;
    color: #38B0E3;
}